.root {
	-fx-font-family: "Titilium Web", sans-serif;
	cell-color: white;
	cellDisabled-color: lightgrey;
    cell-border-color: black;
}

#langButton {
	-fx-graphic: url("/resources/Lang_Button.png");
	-fx-padding: 0.0;
}

.calendar {
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: cell-border-color, cell-color;
    -fx-background-insets: 0, 1 1 0 0;
    -fx-padding: 1;
}
.calendarCell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: cell-border-color, cell-color;
    -fx-padding: 10;
    -fx-background-insets: 0, 0 0 1 1;
}
.calendarCellDisabled {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: cell-border-color, cellDisabled-color;
    -fx-padding: 10;
    -fx-background-insets: 0, 0 0 1 1;
}

.event:hover {
	-fx-background-color: honeydew;
}

.vboxListItem:hover {
	-fx-background-color: lightgrey;	
}

.listItem {
	-fx-background-color: white;
	-fx-background-radius: 10.0px;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0, 0, 3);
}

.listItem:hover {
	-fx-background-color: lightgrey;	
}

.widget {
	-fx-background-radius: 10.0px;
	-fx-effect: dropshadow(one-pass-box, grey, 10, 0, 0, 3);
}

.widget:hover {
	-fx-background-color: lightgrey;	
}

.invalid {
	-fx-text-box-border: red; 
	-fx-focus-color: red;
}

.tableCell:hover {
	-fx-border-color: black;
}